{% extends "layout.html" %}

{% block title %}GPS Info{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>

 <style type="text/css">
    #mapid { height: 400px; }
 </style>

{% endblock %}

{% block content %}
    <section class="wrapper site-min-height">
        <div class="row">
            <div class="col-lg-6">
                <h3><i class="fa fa-angle-right"></i> Session {{ session.id }}</h3>
            </div>
            <div class="col-lg-6">
                <h3 class="btn-group pull-right">
                    <button type="button" class="btn btn-theme">Action</button>
                    <button type="button" class="btn btn-theme dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                      </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a onclick="delete_session('{{ session.id }}'); return false;">Delete</a></li>
                    </ul>
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <section class="panel">
                    <div class="panel-body">
                        <div  id="mapid"></div>
                    </div>
                </section>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <section class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <input type="range" min="0" max="100" value="0" class="slider" id="timestamp_slider">
                            </div>
                            <div class="col-lg-4" id="min_ts">0s</div>
                            <div class="col-lg-4 text-center" id="cur_ts">0.000 km / 00s</div>
                            <div class="col-lg-4 text-right" id="max_ts">
                                <script type="text/javascript">
                                    document.write(pretty_millisecondsDisplay({{ session.duration }}*1000).simple_duration);
                                </script>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <section class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <canvas id="speed_gauge_div"></canvas>
                            </div>
                            <div class="col-sm-4">
                                <canvas id="rpm_gauge_div"></canvas>
                            </div>
                            <div class="col-sm-4 hidden-small">
                                <canvas id="direction_gauge_div"></canvas>
                            </div>

                        </div>


                    </div>
                </section>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <section class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-2">Start date</div>
                            <div class="col-sm-4">
                                <script type="text/javascript">
                                    document.write(pretty_dateDisplay("{{ session.start_date }}"));
                                </script>
                            </div>
                            <div class="col-sm-2">End date</div>
                            <div class="col-sm-4">
                                <script type="text/javascript">
                                    document.write(pretty_dateDisplay("{{ session.end_date }}"));
                                </script>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">First address</div>
                            <div class="col-sm-4">{{ session.first_address }}</div>
                            <div class="col-sm-2">Last address</div>
                            <div class="col-sm-4">{{ session.last_address }}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">Start point</div>
                            <div class="col-sm-4">{{ session.start_point_lat }}, {{session.start_point_lon}}</div>
                            <div class="col-sm-2">End point</div>
                            <div class="col-sm-4">{{ session.end_point_lat }}, {{ session.end_point_lon }}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">Duration</div>
                            <div class="col-sm-4">
                                <script type="text/javascript">
                                    document.write(pretty_millisecondsDisplay({{ session.duration }}*1000).simple_duration);
                                </script>
                            </div>
                            <div class="infos col-sm-2">Distance</div>
                            <div class="infos col-sm-4">{{ session.distance|round(3) }} km</div>
                        </div>
                        <div class="row">
                            <div class="infos col-sm-2">Max speed</div>
                            <div class="infos col-sm-4">0</div>
                            <div class="infos col-sm-2">Max RPM</div>
                            <div class="infos col-sm-4">0</div>
                        </div>

                    </div>
                </section>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <section class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="infos col-sm-6">
                                <div>GPS Fix</div>
                                <div># satellites</div>
                                <div>Precision</div>
                                <div>Latitude</div>
                                <div>Longitude</div>
                                <div>Altitude</div>
                                <div>Speed</div>
                                <div>Direction</div>
                                <div>Coolant</div>
                                <div>Oil</div>
                            </div>
                            <div class="values col-sm-6">
                                <div id="gps_fix_span"><span class="label">N/A</span></div>
                                <div id="gps_sats_span">N/A</div>
                                <div id="gps_hdop_span">N/A</div>
                                <div id="gps_lat_span">N/A</div>
                                <div id="gps_lon_span">N/A</div>
                                <div id="gps_alt_span">N/A</div>
                                <div id="gps_speed_span">N/A</div>
                                <div id="gps_direction_span">N/A</div>
                                <div id="gps_coolanttemp_span">N/A</div>
                                <div id="gps_oiltemp_span">N/A</div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
<!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>
<script src="/static/js/gauge.min.js"></script>

<script type="text/javascript">
(function() {

    var mymap = L.map('mapid').setView([46.690279, 2.456010], 4);
    var location_marker = undefined;
    var polyline_fullpath = undefined;

    var current_idx = 0;
    var car_data = undefined;
    var marker = undefined;

    function set_point_on_map(idx) {
        var point = car_data[idx];
        mymap.panTo([point.latitude, point.longitude]);
        marker.setLatLng([point.latitude, point.longitude]);
    }

    function set_data(idx) {
        var point = car_data[idx];
        $("#gps_fix_span").text(point.fix);
        $("#gps_sats_span").text();
        $("#gps_hdop_span").text();
        $("#gps_lat_span").text(point.latitude);
        $("#gps_lon_span").text(point.longitude);
        $("#gps_alt_span").text(Math.round(point.altitude,0));
        $("#gps_speed_span").text(Math.round(point.gps_speed,2));
        $("#gps_direction_span").text(Math.round(point.direction,0));
        $("#gps_coolanttemp_span").text(Math.round(point.coolant_temp,0));
        $("#gps_oiltemp_span").text(Math.round(point.oil_temp,0));

        speed_gauge.value = Math.round(point.gps_speed,2);
        rpm_gauge.value = point.rpm;

    }

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox.streets'
	}).addTo(mymap);

    var timestamp_slider = document.getElementById("timestamp_slider");
    // Update the current slider value (each time you drag the slider handle)
    timestamp_slider.oninput = function() {
      var idx  = parseInt(this.value,10);
      //console.log(this.value);
      $("#cur_ts").text(car_data[idx].distance.toFixed(3) + " km / " + pretty_millisecondsDisplay(car_data[idx].timestamp*1000).simple_duration);
      set_point_on_map(idx);
      set_data(idx);
    }

    var cardata_url = "/session/{{session.id}}/data";
    $.getJSON(cardata_url, function(data) {
        car_data = data;
        console.log("Car data retrieved ! ("+data.length+" entries)");
        timestamp_slider.max = data.length;

        polyline_fullpath = L.polyline([], {
            color: '#5360fe',
            opacity: 0.5
        }).addTo(mymap);

        data.forEach(function(location) {
            //console.log(location);
            if (location.latitude != 0 && location.longitude != 0) {
                polyline_fullpath.addLatLng([location.latitude, location.longitude]);
            }
        });
        marker = L.marker([46.690279, 2.456010]).addTo(mymap);

        mymap.fitBounds(polyline_fullpath.getBounds());

        mymap.on('mousemove', function(e) {
            //console.log("Lat, Lon : " + e.latlng.lat + ", " + e.latlng.lng)

        });
    });

    var speed_gauge = new RadialGauge({
        renderTo: 'speed_gauge_div',
        width: 200,
        height: 200,
        units: "km/h",
        value: 0,
        minValue: 0,
        maxValue: 200,
        majorTicks: [
            "0","20","40","60","80","100",
            "120","140","160","180","200"
        ],
        minorTicks: 2,
        highlights: [
        ],
        animationDuration: 100,
        borders: false,
        needleType: "arrow",
        needleWidth: 2,
    }).draw();

    var rpm_gauge = new RadialGauge({
        renderTo: 'rpm_gauge_div',
        width: 200,
        height: 200,
        units: "tr/min",
        value: 0,
        minValue: 0,
        maxValue: 8000,
        majorTicks: [
            "0","1000","2000","3000","4000","5000",
            "6000","7000","8000"
        ],
        minorTicks: 4,
        highlights: [
            {"from": 6000, "to": 7000, "color": "rgba(255,255,0,.15)"},
            {"from": 7000, "to": 8000, "color": "rgba(255,30,0,.25)"}
        ],
        animationDuration: 100,
        borders: false,
        needleType: "arrow",
        needleWidth: 2,
    }).draw();

    var direction_gauge = new RadialGauge({
        renderTo: 'direction_gauge_div',
        width: 200,
        height: 200,
        value: 0,
        minValue: 0,
        maxValue: 100,
        majorTicks: [
            "0",
            "20",
            "40",
            "60",
            "80",
            "100"
        ],
        highlights: [
            {"from": 50, "to": 75, "color": "rgba(255,255,0,.15)"},
            {"from": 75, "to": 100, "color": "rgba(255,30,0,.25)"}
        ],
        minorTicks: 10,
        animationDuration: 1000,
    }).draw();
})();

</script>


{% endblock %}