{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/DataTables/datatables.min.css"/>
{% endblock %}

{% block content %}
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> Trip history</h3>
        <div class="row mb">
            <!-- page start-->
            <div class="content-panel">
                <div class="adv-table">
                    <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th data-type="num">Duration</th>
                                <th>Distance</th>
                                <th class="hidden-phone">Start</th>
                                <th class="hidden-phone">End</th>
                                <th class="hidden-phone">Nbr events</th>
                                <th class="hidden-phone">Status</th>
                                <th class="hidden-phone">Origin</th>
                                <th class="hidden-phone">Last modif.</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for session in sessions %}
                            <tr class="gradeX">
                                <td><a href="{{ url_for('session_viewer_html') }}/{{ session.id }}">
                                        {{ session.start_date }}
                                    </a>
                                </td>
                                <td data-order="{{ session.duration }}">
                                    <script type="text/javascript">
                                        document.write(pretty_millisecondsDisplay({{ session.duration }}*1000).simple_duration);
                                    </script>
                                </td>
                                <td data-order="{{ session.distance }}">{{ session.distance|round(3) }} km</td>
                                <td class="center hidden-phone">{{ session.first_address }} <br>({{ session.start_point_lat }}, {{ session.start_point_lon }})</td>
                                <td class="center hidden-phone">{{ session.last_address }} <br>({{ session.end_point_lat }}, {{ session.end_point_lon }})</td>
                                <td class="center hidden-phone">{{ session.nbr_events }}</td>
                                <td class="center hidden-phone">{{ session.status }}</td>
                                <td class="center hidden-phone">{{ session.origin }}</td>
                                <td class="center hidden-phone">{{ session.last_comm }}</td>
                                <td class="center">
                                    <button type="button" class="btn btn-default btn-xs">Delete</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
          <!-- page end-->
        </div>
        <!-- /row -->
    </section>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="/static/DataTables/datatables.min.js"></script>
<script type="text/javascript">
    /*
    * Initialse DataTables, with no sorting on the 'details' column
    */
    var oTable = $('#hidden-table-info').dataTable({
        "order": [[ 0, "desc" ]]
    });
</script>
{% endblock %}