{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
    <section class="wrapper site-min-height">
        <h3><i class="fa fa-angle-right"></i>Supervisor</h3>
        <div class="row mt">
            <div class="col-lg-12">
                <iframe
                    width="800"
                    height="450"
                    src="http://192.168.4.1:9001"></iframe>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}

{% endblock %}